

h1, h2, p {
  color: black;
}

body {
  background-color: white;
}

.individualReceipt {
  border: solid 2px orange;
  margin-left: 20px;
  width: 300px;
  padding-left: 10px;
}

.receipts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin-left: 20px;
}

strong {
  color: indigo;
}

