#root {
  margin: 0 auto;
}

.App {
  background-color: antiquewhite;
}

.receiptContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  background-color: rgb(0, 112, 173);

}

.receipt {
  border: solid white 3px;
  margin: 10px;
}